.body
{
    margin:0;
}
.background
{
   width:1100px;
   overflow: hidden;
   background-color:#fff;
   float:left;

}

.Text{
    position: absolute;
    right:45%;
    top:0px;
    z-index: 10;
    
}

.img
{
    width:1100px;
    overflow: hidden;
    float:left;
    position: absolute;
    z-index: -1;
	
}
.a
{   width:900px;
	margin-left: 200px;
    overflow: hidden;
    font-family: 'Martel Sans', sans-serif;
    position:absolute;
    left:350px;
    font-size:30px;
    top:100px;
	animation-name: m;
	animation-duration: 3s;   
}
@keyframes m{
	from {top: 0}
	to {top: 100}
}
.form
{  
    font-size:20px;
    left:50px;

}
#im{
	position: absolute;
	height: 100px;
	width: 100px;
	margin-left: 100px;
}
