body
{
   margin:0;
}
.box
{
  background-color:#9c18c4;
  width:1300px;
  height:800px;
  float: left;

}
.menu-top
{   position:absolute;
    display:block;
    margin-left: 250px;
    width:500px;


}
.menu-top li
{
   list-style-type:none;
}
.menu-top li a
{
    
    display:block;
    color:white;
    padding:10px;
    float: left;
    text-decoration:none;
    font-size:17px;
    
}
.menu-top li a:hover
{
    border-bottom: 2px solid chocolate;
}


