body
{
    margin:0;
    background: rgb(11, 0, 24);
    background: linear-gradient(360deg, rgba(11, 0, 24, 1) 0%, rgba(50, 2, 57, 1) 51%, rgba(62, 12, 36, 1) 100%);
}
.menu1
{
    width:350px;
    height: 6000px;
    float: left;
    color:white;
}
.logo
{
    width:300px;
    height:150px;
    margin-bottom:20px;
    margin-left:-60px;

}
.text-bottom-logo
{
    padding:5px;
    margin:0;
    margin-left:20px;
}
.text-bottom-logo2
{
    padding:5px;
    margin:0;
    margin-left:20px;
    border-bottom: 2px solid white;
}
.menu2 li
{
   list-style-type: none;
}
.menu2 li a
{   
    display:block;
    padding:5px;
    font-size: 15px;
    text-decoration: none;
    margin-left:-30px;
    color:white;
}
.menu2 li a:hover
{
    background-color: darkgray;
}
.line2
{
    border-bottom: 2px solid white;
    
}
.menu3
{
    margin:10px;
    padding:5px;
    color:white;
}
.menu3 li
{
    list-style-type:none;
}
.menu3 li a
{   display:block;
    text-decoration: none;
    color:white;
    padding :5px;
}
.menu3 li a:hover
{
    background-color: darkgray;
}
.line3
{
    border-bottom: 2px solid white;
    
}
.menu4
{
    margin:10px;
    padding:5px;
    color:white;
}
.menu4 li
{
    list-style-type:none;
}
.menu4 li a
{   display:block;
    text-decoration: none;
    color:white;
    padding :5px;
}
.menu4 li a:hover
{
    background-color: darkgray;
}
.menu5
{
    margin:10px;
    padding:5px;
    color:white;
}
.menu5 li
{
    list-style-type:none;
}
.menu5 li a
{   display:block;
    text-decoration: none;
    color:darkgray;
    padding :10px;
    padding-left:30px;
    font-size:13px;
    float: left;
}
.menu5 li a:hover
{
    border-bottom: 2px solid orange;
}
.about li
{
   list-style-type:none ;
}
.about li a
{
    display:block;
    text-decoration: none;
    color:darkgray;
}
.about li a:hover
{
   border-bottom:2px solid orange;
   width:30px;
}
.email
{
    color:darkgray;
}
.background-top
{ 
    width:100%;
    height:50px;
}
.menu-top
{   position:fixed;
    display:block;
    margin-left: 350px;
    width:100%;
    background-color:rgba(50, 2, 57, 1);
    z-index:1;
   


}
.menu-top li
{
   list-style-type:none;
}
.menu-top li a
{
    
    display:block;
    color:white;
    padding:10px;
    float: left;
    text-decoration:none;
    font-size:17px;
    
}
.menu-top li a:hover
{
    border-bottom: 2px solid chocolate;
}
.search-botton
{   
    position: fixed;
    float: right;
    margin-left: 40%;
    margin-top:20px;
    width:250px;
    border-radius: 10px;
    height:25px;
    padding-left: 10px;
    z-index:1;
}
.home-text
{
    width:1100px;
    height:1000px;
    position: absolute;
    margin-left:350px;
    margin-top:100px;

}
.game-stroe
{
    color:white;
    border-bottom: 2px solid white;
    margin-left:40px;
    font-family: 'Simonetta';
}
.p
{
    color:white;
    margin-left:40px; 
    font-family: 'Simonetta' ;
    font-size:20px;

}

.pic2
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:30px;
    margin-top:30px;
}
.news1
{
    color:white;
    text-align:center;
    position:absolute;
    margin-left:280px;
    font-size:17px;
    font-family: 'IBM Plex Sans' ;
    padding:30px;
}
p
{
    font-family: 'IBM Plex Sans' ;
    font-size:15px;
}
a{
    color:white;
}
a:hover
{
    color:red;
}

.pic3
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:30px;
    margin-top:350px;

}
.news2
{
    color:white;
    text-align:center;
    position:absolute;
    margin-left:280px;
    font-size:17px;
    font-family: 'IBM Plex Sans' ;
    margin-top:350px;
    padding:30px; 
}
.p2
{
    color:white;
    margin-left:40px; 
    font-family: 'Simonetta' ;
    font-size:20px;
    margin-top:750px;
    position:absolute;

}
.pic1-technology
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:30px;
    margin-top:850px;

}

.technology1
{
    color:white;
    text-align:center;
    position:absolute;
    margin-left:280px;
    font-size:17px;
    font-family: 'IBM Plex Sans' ;
    padding:10px;
    margin-top:850px;

}
.pic2-technology
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:30px;
    margin-top:1200px;

}
.technology2
{
    color:white;
    text-align:center;
    position:absolute;
    margin-left:280px;
    font-size:17px;
    font-family: 'IBM Plex Sans' ;
    padding:10px;
    margin-top:1200px;
}
.p3
{
    color:white;
    margin-left:40px; 
    font-family: 'Simonetta' ;
    font-size:20px;
    margin-top:1600px;
    position:absolute;

}
.pic1-background
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:30px;
    margin-top:1700px;

}
.background1
{
    color:white;
    text-align:center;
    position:absolute;
    margin-left:280px;
    font-size:17px;
    font-family: 'IBM Plex Sans' ;
    padding:10px;
    margin-top:1700px;
}
.pic2-background
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:30px;
    margin-top:2050px;
}
.background2
{
color:white;
text-align:center;
position:absolute;
margin-left:280px;
font-size:17px;
font-family: 'IBM Plex Sans' ;
padding:10px;
margin-top:2050px;
}
.p4
{
    color:white;
    margin-left:40px; 
    font-family: 'Simonetta' ;
    font-size:20px;
    margin-top:2400px;
    position:absolute;
}
.pic1-gamer
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:30px;
    margin-top:2500px;
}
.gamer1
{
    color:white;
    text-align:center;
    position:absolute;
    margin-left:280px;
    font-size:17px;
    font-family: 'IBM Plex Sans' ;
    padding:10px;
    margin-top:2500px;
    
}
.pic2-gamer
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:30px;
    margin-top:2850px;

}
.gamer2
{
    color:white;
    text-align:center;
    position:absolute;
    margin-left:280px;
    font-size:17px;
    font-family: 'IBM Plex Sans' ;
    padding:10px;
    margin-top:2900px;
    
}
.pic1-device
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:30px;
    margin-top :3300px;

}
.pic2-device
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:350px;
    margin-top :3300px;

}
.pic3-device
{
    width:250px;
    height:300px;
    position:absolute;
    border-radius:10px;
    margin-left:650px;
    margin-top :3300px;

}
.device1
{
    color:white;
    text-align:center;
    position:absolute;
    margin-left:120px;
    font-size:17px;
    font-family: 'IBM Plex Sans' ;
    padding:10px;
    margin-top:3700px;
}
.p5
{
    color:white;
    margin-left:40px; 
    font-family: 'Simonetta' ;
    font-size:20px;
    margin-top:3200px;
    position:absolute;
}
/*menu-left should be comtiunues to design*/